body {
    --banana-yellow: #fddc85;
    --banana-orange: #ffbd66;
    --banana-orange-brown: #f1bb6b;
}

.experience-heading {
    margin-bottom: 0 !important;
}

.experience-company {
    color: var(--banana-orange-brown);
    font-weight: bold;
    margin-top: unset;
}

.experience-dates {
    margin-bottom: unset;
    text-align: right;
}

.experience-location {
    font-style: italic;
    margin-top: unset;
    text-align: right;
}

#logo-wrapper {
    width: 100%;
    position: relative;
}

#logo-wrapper img {
    max-width: 100%;
}

#anchor-banana {
    /*border: 1px solid var(--banana-yellow);*/
    height: 58%;
    width: 6.75%;
    position: absolute;
    left: 51.1%;
    top: 28%;
}
